.navbar-default .navbar-nav>li>a {
    color:white;
}

.navbar-default .navbar-brand{
    color: white;
}

.navbar {
    border: 0px;
    border-radius: 0px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: rgb(17, 188, 255);
    background-color: rgb(0, 153, 255) !important;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default{
    background-color: rgb(17, 188, 255) !important;
    background-image: none;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: rgb(4, 141, 196)
}

.navbar {
    margin-bottom: 0px;
}

.carousel-inner>.item>img {
    height: 600px;
}

/* TODO FUCKING REWRITE ALL OF THIS INTO A FINE PROJECT: */