body > div,
body > div > div,
body > #app > .content,
body > #app > .content > .login-form {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.ui.vertical.segment {
    background-color: white !important;
}

.ui.inverted.vertical.segment {
    background-color: black !important;
}

.hero-video {
    margin-top: -3.3%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    filter: blur(15%)
}

#hero {
    background: rgba(0,0,0,0) !important;
    border-bottom: none;
}

.post {
    display: flex;
}

.dropdown.icon {
    display: none !important;
}

.post-container:hover{
    background-color: #EEE !important;
}

.post-container {
    margin-top: 5px !important;
    margin-left: 20% !important;
    margin-right: 20% !important;
}

.profileDetails{
    width: 80%;
    padding: 5%;
}

.userHeader {
    display: flex;
}

.userHeader, .settingsHeader {

    border: 0px !important;
    box-shadow: none !important;
}

.ui.bottom.attached.segment.active.tab {
    border: 0px;
}

#holder {
    display: table;
    border: 4px dashed white;
    width: 150px;
    height: 150px;
    font-size: 1.3em;
    transition: border 0.4s, color 0.4s;
}

#holder.hover {
    border-color: black;
    color: black;
}

.ui.modal {
    width: 100%;
    border: 3px solid white;
}

#holder i {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#output {
    display: none;
}

#profileFeed{
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.viewport {
    width: 100% !important;
    height: 100% !important;
}

.dg.main.a {
    position:absolute;
    top: 0;
    left: 0;
}

#demo{
    padding: 0 !important;
}

#demo_header{
    padding: 1em !important;
    text-align: center !important;
}

#get_started{
    text-align: center;
    vertical-align: center;
    margin: auto;
    font-size: 1.5em !important;
    width: 100%;
}

.dg.main.taller-than-window {
     overflow-y: unset !important;
}

.loading {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.bar {
    margin: auto;
    width: 100%;
    margin-left: 30%;
    margin-right: 30%;
}

.ui.active.indicating.progress {

    height: 100%;
    display: flex;
}


.ui.small.basic.modal {
    margin: auto !important;
    height: auto;
}

.profile-post-containter{
    width: 99%;
    margin-left: 1% !important;
    margin-right: 1% !important;
}

.settings_button{
    position: absolute;
    right: 10px;
    top: 11px;
    padding: 5px;
    border-radius: 5px;
}

.settings_button:hover {
    background-color: #EEE;
    box-shadow: 0.5px 0.5px 1px #666;
    height: auto;
}


.settings_button:active {
    background-color: #DDD;
    box-shadow: inset 0.5px 0.5px 1px #666;
    height: auto;
}

.userContainer, .settingsContainer, .addPostContainer, .viewModelContainer {
    height: auto;
    margin-top: 5px !important;
    margin-left: 20% !important;
    margin-right: 20% !important;  
}

.profileSettingsImage {
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.submitButton {
    width: 200px !important;
    font-size: 1.3em !important;
    height: 60px;
    margin: auto !important;
}

.profileSettingsForm>.ui.large.form>.ui.stacked.segment {
    border: 0 !important;
    box-shadow: unset !important;
}

.profileSettingsForm>.ui.large.form>.ui.stacked.segment::after {
    content: none;
}

.addContrib {
    margin:auto !important;
    margin-right: 10px !important;
    right: 0 !important;
}

.addContrib:hover {
    background-color: #2185d0 !important;
    color: white !important;
}

input[type="file"] {
    display: none;
}

.file-upload {
    background-color: #2185d0;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.file-upload:hover {
    background-color: #0e65a7;    
}

#description {
    min-height: 100px;
    max-height: 500px;                     
    min-width: 100%;
    max-width: 100%; 
}

.ui.modal.transition.visible.active {
    margin-top: 5% !important;
    margin: auto;
    height: auto;
}

.profileImage {
    border-radius: 10px !important;
    object-fit: fill;
    height: 250px;
    width: 250px;
}

.modelPostSettings {
    margin: auto !important;
    margin-right: 0px !important;
    margin-top: 0px  !important;
    background: unset !important;
    height: 32px !important;
}

.modelPostSettings:hover {
    box-shadow: inset 1px 1px 5px #555 !important;
}

i.blue.icon:hover {
    transition: all 0.3s;
}

.ui.dropdown {
    display: flex !important;
}

.ellipsis.horizontal.icon {
    font-size: 2em !important;
}

.uploadedBy {
    display: flex;
    border: unset !important;
    box-shadow: unset !important;
}

#profileBadge {
    padding: 5px !important;
}

#profileBadge:hover {
    background-color: #eee
}

#loggedInUser {
    font-size: 1.15em;
}

@media (max-width: 768px){
    .userContainer, .settingsContainer, .addPostContainer, .viewModelContainer {
        margin-left: 2% !important;
        transition: all 0.1s;
        margin-right: 2% !important;  
    }

    .post-container {
        margin-left: 2% !important;
        transition: all 0.1s;        
        margin-right: 2% !important;
    }

    .currentlyComparing {
        position: unset !important;
    }
}


.addContrib.active:hover {
    background-color: #db2828 !important;
}

.addContrib::after{
    content: 'Add to compare';
}

.addContrib.active::after{
    content: 'Added';
}

.latest.active::after {
    content: 'Latest'
}

.addContrib.active:hover::after{
    content: 'Remove';
}

.selected_model {
    margin: 10px;
    padding: 6px;
    /* border: solid 1px; */
    border-radius: 3px;
    /* box-shadow: 0 1px 1px 1px #666 */
}

.react-datepicker-wrapper{
    margin-bottom: 15px;
}

.currentlyComparing{
    position: fixed !important;
    top: 60px !important;
    right: 10% !important;   
    z-index: 10;
    transition: all 0.2s
}

.lookingContainer{
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 3px;
    padding: 15px;
}

.lookingContainer:hover{
    background-color: #eee
}   

.lItem{
    width: 100%;
    margin-left: 5px;
}